
h1 {
    display: flex; /* Use Flexbox to center content */
    justify-content: center; /* Center horizontally */
}

.page-content-container {
    display: flex; /* Use Flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.page-content {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    width: 1200px;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.leaflet-container {
    height: 90vh;
    width: 90%;
    border-radius: 2rem;
}
